<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"><!--adding link to CSS sheet-->
    <title>Todo App</title><!--new font stuff after here-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1>TASK LIST</h1><!--capitalized this-->
    <p>Be productive and start your very own task list today by signing up below.
        Experience the satisfaction of crossing off all those pesky chores!
    </p><!--added this paragraph-->
    <a href="/login"> LOGIN</a><!--capitalized this-->
    <a href="/signup"> SIGNUP</a><!--capitalized this-->
</body>
</html>