<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"><!--adding link to CSS sheet-->
    <title>Todo App</title><!--new font stuff after here-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <section class="login-page">
        <h3>LOGIN</h3>
        <p>Please login by entering your email</p>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
            <% messages.info.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <form action="/login" method="POST">
            <div class="container"><!--added container for styling-->
                <input type="email" name="email" placeholder="Email" class="login-input">
                <input type="password" name="password" placeholder="Password" class="login-input">
                <input type="submit" value="Login" class="btn">
            </div>
        </form>
        <div>
            <p>Don't have an account <a href="/signup">Sign up</a><!--added button for signup--></p><!--added sentence-->
        </div>
    </section>
</body>
</html>