/*GENERAL FONT STYLES*/

body {
  /*new font here*/
  font-family: "Anybody", "sans-serif", cursive;
  background-color: rgb(136, 172, 164);
  text-align: center; /*centering all the pages*/
}

h1 {
  /*changed color to white*/
  color: white;
  font-size: 64px;
}
h2 {
  /*added h2*/
  color: white;
  font-size: 45px;
}
h3 {
  /*added h3*/
  color: black;
  font-size: 32px;
}
p {
  /*added p*/
  color: white;
  font-style: italic;
}

/*ACTION STYLES*/
/* Todo body */
.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
}
/* Star body */
.important {
  color: rgb(234, 234, 105);
}
.regular {
  color: black;
}

/*FORMS*/
/* added this to align the input to center*/
.container { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
/*added this to round all the forms and submit buttons*/
input {
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  font-family: "Anybody", "sans-serif", cursive;
  font-style: italic;
}
h3 + form > input[type="text"] {
  /*making task list box taller*/
  height: 100px;
}

/* added this to make the input bigger  */
.login-input,
.signup-input{
    width: 170px;
}

.item-input{
    padding: 20px 0 20px 10px;
    width: 170px;
}


/*LIST FORMATTING*/
.todoItem {
  list-style-type: none;
}

/*BUTTONS*/

a {
  /*added this but it's not quite working right. can't figure out how to not overlap*/
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-top: 15px;
  border-radius: 20px;
  text-decoration: none;
}
input[type="submit"] {
  /*added teal buttons*/
  background-color: rgb(32, 196, 180);
}
input[type="text"] + input[type="submit"] {
  /*added yellow submit*/
  background-color: yellow;
}
body > a {
  /*added index login color*/
  background-color: rgb(32, 196, 180);
}
body > a + a {
  /*added index signup color*/
  background-color: rgb(40, 220, 196);
}
.logout-btn {
  /*added logout color*/
  background-color: rgb(40, 220, 196);
  color: red;
  position: fixed;
  bottom: 0;
  right: 20px;
}

/*SECTION BACKGROUNDS*/
body > section {
  /*turquoise background for login, signup & list*/
  background-color: rgb(40, 220, 196);
  padding: 10px 20px 200px 20px;
  margin: auto;
  width: 50%;
  border-radius: 10px;
}
.boxOne {
  /*User Task List left box; turquoise*/
  background-color: rgb(40, 220, 196);
  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding: 20px 20px 50px 30px;
}
.boxTwo {
  /*User Task List right box; teal*/
  background-color: rgb(32, 196, 180);
  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding: 20px 20px 50px 30px;
}


/*adding styling for profile image*/
#display-image{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  margin: 20px auto;
}
/* removed background behind profile pic */
#profilePic {
  border-radius: 50%;
}

/* ERROR ALERTS */
.alert {
  font-size: 25px;
  color:rgb(234, 234, 105);
}
