/*GENERAL FONT STYLES*/

body {
  /*new font here*/
  font-family: "Anybody", "sans-serif", cursive;
  background-color: rgb(136, 172, 164);
  margin: 0;
  padding: 0;
  /* text-align: center; centering all the pages */
}

h1 {
  /*changed color to white*/
  color: white;
  font-size: 4rem;
}
h2 {
  /*added h2*/
  color: black;
  font-size: 3rem;
}
h3 {
  /*added h3*/
  color: black;
  font-size: 2rem;
}
p {
  /*added p*/
  color: white;
  font-style: italic;
}

/*ACTION STYLES*/
/* Todo body */
.completed {
  text-decoration: line-through;
  color: gray;
}

/* Star body */
.important {
  color: rgb(234, 234, 105);
}
.regular {
  color: black;
}

/*FORMS*/
/* added this to align the input to center*/
.container { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
/*added this to round all the forms and submit buttons*/
input {
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  font-family: "Anybody", "sans-serif", cursive;
  font-style: italic;
}

/*LIST FORMATTING*/
.todoItem {
  list-style-type: none;
}

/*BUTTONS*/
.btn {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-top: 15px;
  background-color: rgba(226, 226, 226, 0.8);
  border-radius: 20px;
  text-decoration: none;
}
.btn:hover {
  background-color: rgb(234, 234, 105);
}

.logout-btn {
  /*added logout color*/
  position: fixed;
  bottom: 5px;
  right: 20px;
}
.logout-btn:hover {
  background-color: rgba(226, 226, 226, 0.8);
  color: rgb(243, 127, 127);
}

/*SECTION BACKGROUNDS*/
body > section {
  /*turquoise background for login, signup & list*/
  background-color: rgb(40, 220, 196, .3);
  padding: 10px 20px 100px 20px;
  margin: auto;
  width: 50%;
  border-radius: 10px;
}
.boxOne {
  /*User Task List left box; turquoise*/
  background-color: rgba(226, 226, 226, 0.3);
  width: 60%;
  min-height: 200px;
  margin: auto;
  border-radius: 10px;
  padding: 20px 20px 50px 30px;
  font-size: 1.5rem;
}
.boxTwo {
  /*User Task List right box; teal*/
  background-color: rgba(226, 226, 226, 0.3);
  width: 30%;
  min-height: 200px;
  margin: auto;
  border-radius: 10px;
  padding: 20px 20px 50px 30px;
}
.login-page {
  margin-top: 10%;
  text-align: center;
}
.task-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* Target Item Styling */
.header {
  display: flex;
}
.task-header {
  margin-left: 1%;
}
.todoItem {
  display: flex;
  background-color: rgba(226, 226, 226, 0.6);
  margin: 5px 10px;
  padding: 5px 0;
  border-radius: 10px;
}
.date {
  font-size: x-small;
  align-content: left;
  padding-left: 5px;
}
.task {
  text-align: center;
  flex-grow: 1;
}
.icon {
  font-size: 1rem;
  text-align: right;
  margin: 4px;
}
.completed-tasks {
  font-size: 1rem;
}
.item-input {
  height: 30px;
  width: 80%;
}
/*adding styling for banner image*/
#display-image {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin-top: -125px;
}
.banner-selection {
  position: fixed;
  top: 0;
  right: 0px;
}
.banner-selection-title {
  position: fixed;
  top: 10px;
  right: 230px;
}

/* removed background behind profile pic */
.profile-image {
  border: 1px solid white;
  border-radius: 50%;
  margin: 10px 20px;
}

/* ERROR ALERTS */
.alert {
  font-size: 25px;
  color:rgb(234, 234, 105);
}
